*
!ca-service/
!ca-service/**
!kdc-service/
!kdc-service/**
!banking-service/
!banking-service/**
!pkg/
!pkg/**
ca-service/.env
ca-service/certs
ca-service/.gocache
kdc-service/.env
kdc-service/certs
kdc-service/.gocache
banking-service/.env
banking-service/certs
banking-service/.gocache