# Banking Service
BANK_GRPC_PORT=50053
DATABASE_URL=postgresql://user:password@host/database?sslmode=require
REDIS_URI=redis://localhost:6379/0
BANK_KEY=replace_with_64_character_hex_key

CA_SERVICE_ADDRESS=localhost:50051
CA_CERT_PATH=certs/grpc/grpc-ca.crt
CA_TLS_SERVER_NAME=ca-service

BANK_CERT_PATH=certs/bank-server.crt
BANK_KEY_PATH=certs/bank-server.key
