# KDC Service
GRPC_PORT=50052
CA_PORT=localhost:50051
TGT_EXP=10m
REDIS_URI=redis://localhost:6379/0

K_TGS_PATH=certs/k_tgs.key
KDC_PRIVATE_KEY_PATH=certs/kdc-private.pem
BANK_SERVICE_ID=bank-service
BANK_SERVICE_KEY_PATH=certs/k_tgs.key

CA_CERT_PATH=certs/grpc-ca.crt
CA_SERVER_NAME=ca-service
